<h2>Todo page</h2>

{{#if todos.length}}
  <ul>
    {{! Итерация }}
    {{#each todos}}
      <li class="todo">
        <label>
          {{#if complited}}
            <input type="checkbox" checked />
            <span class="complited">{{title}}</span>
          {{else}}
            <input type="checkbox" />
            <span>{{title}}</span>
          {{/if}}

          <button class="btn btn-small">Save</button>
        </label>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No todos!</p>
{{/if}}